<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
     body {
       font-family: "Fira Sans", "Arial", "Helvetica", sans-serif;
       font-size: 16pt;
     }

     .tweet {
       background-color: #eee;
       padding: 2em;
       margin: 1em;
     }

     .hashtag {
       color: #369;
     }

     .date {
       text-align: right;
       font-size: 14pt;
     }

     .media:empty {
       display: none;
     }

     .media {
       margin: 1em;
       background-color: #fff;
       display: flex;
       justify-content: space-around;
       border: 1px solid #000;
     }

     .media > * {
       padding: 1em;
     }

     [data-reply="true"] {
       display: none;
     }

     .darkroom {
       background-color: rgba(0, 0, 0, 0.5);
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 100;
       display: grid;
       justify-items: center;
       align-items: center;
     }
    </style>
    <title>Twitter Archive</title>
  </head>
  <body>
    <div class="tweets">
      {{#tweets}}
        <article id="{{tweet_id}}" class="tweet" data-reply="{{reply}}">
          {{{text}}}
          <div class="media">{{#media}}{{{embed}}}{{/media}}</div>
          <div class="date"><a href="{{original}}">original</a> &mdash; <a href="#{{tweet_id}}">&#x1f517; {{display_time}}</a></div>
        </article>
        {{/tweets}}
    </div>
    <script>
     const focusImage = (path) => {
       // we're given the thumbnail path, so extract out the original image path
       const original = path.replace("/thumb-", "/")
       // create the darkroom elements on top of everything else
       const darkroom = document.createElement("div")
       darkroom.className = "darkroom"
       document.querySelector("body").append(darkroom);
       // and add the image to the darkroom
       const img = document.createElement("img");
       img.src = original;
       darkroom.append(img);
       // any click anywhere should make this go away
       darkroom.onclick = () => {
         img.remove()
         darkroom.remove()
         window.onclick = () => null;
       }
     }

     window.onload = () => {
       const images = document.querySelectorAll("img")
       for (const i of images) {
         i.onclick = (event) => {
           focusImage(i.src)
         }
       }
     }
    </script>
  </body>
</html>
